<div>
  <nz-card nzTitle={{product.title}} [nzExtra]="extraTpl" class="nz-card">
    <img src="http://placehold.it/800x200">
    <h5>{{product.price}}</h5>
    <h4>
      <a [routerLink]="['/product',product.title]">{{product.title}}</a>
    </h4>
    <p>{{product.desc}}</p>
    <div>
      <app-stars [rating]="product.rating"></app-stars>
    </div>
  </nz-card>

  <div>
    <div>
      <app-stars [rating]="newRating" [readOnly]="false"></app-stars>
    </div>
    <div>
      <textarea [(ngModel)]="newComment"></textarea>
    </div>
    <div>
      <button nz-button nzType="primary" class="btn" (click)="addComment()">提交</button>
    </div>
  </div>

  <nz-list [nzDataSource]="comments" [nzRenderItem]="item">
    <ng-template #item let-i>
      <nz-list-item>
        <nz-list-item-meta [nzTitle]="i.user" [nzDescription]="i.content">
        </nz-list-item-meta>
        <div>
          <app-stars [rating]="product.rating"></app-stars>
        </div>
      </nz-list-item>
    </ng-template>
  </nz-list>

</div>