<form nz-form [formGroup]="formModel" (ngSubmit)="onSearch()" novalidate>
  <nz-form-item>
    <nz-form-label [nzSpan]="8" nzFor="productTitle">商品名称</nz-form-label>
    <nz-form-control [nzSpan]="14" nzHasFeedback>
      <input type="text" nz-input formControlName="title" placeholder="productTitle">
      <nz-form-explain *ngIf="formModel.get('title').dirty&&!formModel.get('title').errors">
        <ng-container *ngIf="formModel.hasError('minlength','title')">
          please input correct title!
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="8" nzFor="productPrice">商品价格</nz-form-label>
    <nz-form-control [nzSpan]="14" nzHasFeedback>
      <input type="text" nz-input formControlName="price" placeholder="productPrice">
      <nz-form-explain *ngIf="formModel.get('price').dirty&&!formModel.get('price').valid">
        <ng-container *ngIf="formModel.hasError('positiveNumber','price')">
          please input a positive price!
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="8" nzFor="productCategory">商品类别</nz-form-label>
    <nz-form-control>
      <nz-select formControlName="category">
        <nz-option
          *ngFor="let item of categories" [nzValue]="item" [nzLabel]="item">
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <!-- <nz-form-label [nzSpan]="8" nzFor="submit"></nz-form-label> -->
    <nz-form-control>
      <button nz-button class="search-button" [nzType]="'primary'">search</button>
    </nz-form-control>
  </nz-form-item>

</form>